<nav class="navigation">

    <a href="/" class="nav-link">
        Home
    </a>


    <a href="/dogs" class="nav-link">
        Dogs 🐶
    </a>


    <a href="/cats" class="nav-link">
        Cats 🐱
    </a>

</nav>