<nav class="navigation">

    <NavLink href="/"
             Match="NavLinkMatch.All"
             class="nav-link">

        🏠 Home

    </NavLink>

    <NavLink href="/dogs"
             class="nav-link">

        🐶 Dogs

    </NavLink>

    <NavLink href="/cats"
             class="nav-link">

        🐱 Cats

    </NavLink>

    <NavLink href="/about"
             class="nav-link">

        💖 About

    </NavLink>

    <NavLink href="/contact"
             class="nav-link">

        📩 Contact

    </NavLink>

</nav>
