@page "/about"

<PageTitle>About Us | Adoption Center</PageTitle>


<div class="page-container">


    <SectionTitle
        Title="About Adoption Center 🐾"
        Subtitle="Learn more about our mission and why we care about every pet." />


    <section class="about-content">


        <div class="about-card">


            <div class="about-icon">
                ❤️
            </div>


            <h2>
                Our Mission
            </h2>


            <p>
                Our mission is to help pets find safe and loving homes.
                We believe every animal deserves care, compassion,
                and a family that will love them.
            </p>


        </div>



        <div class="about-card">


            <div class="about-icon">
                🏡
            </div>


            <h2>
                Our Vision
            </h2>


            <p>
                We want to create a simple and friendly platform where
                people can discover pets available for adoption and
                build meaningful connections.
            </p>


        </div>



        <div class="about-card">


            <div class="about-icon">
                🐶🐱
            </div>


            <h2>
                Our Community
            </h2>


            <p>
                Together, we can support animals in need and encourage
                responsible adoption.
            </p>


        </div>


    </section>


</div>
