@page "/contact"

<PageTitle>Contact | Adoption Center</PageTitle>


<div class="page-container">


    <SectionTitle
        Title="Contact Us 📩"
        Subtitle="Have questions? We would love to hear from you." />



    <section class="contact-container">



        <div class="contact-card">


            <div class="contact-icon">
                📍
            </div>


            <h2>
                Location
            </h2>


            <p>
                Adoption Center DA
                <br />
                Animal Care Community
            </p>


        </div>




        <div class="contact-card">


            <div class="contact-icon">
                📧
            </div>


            <h2>
                Email
            </h2>


            <p>
                adoptioncenter@example.com
            </p>


        </div>




        <div class="contact-card">


            <div class="contact-icon">
                🕒
            </div>


            <h2>
                Hours
            </h2>


            <p>
                Monday - Friday
                <br />
                8:00 AM - 5:00 PM
            </p>


        </div>



    </section>


</div>
