@if (Pet.IsAdopted)
{
    <button class="disabled-button" disabled>

        Already Adopted ❤️

    </button>
}
else
{
    @if (IsAuthenticated)
    {
        <a href="/adopt/@Pet.Id"
           class="adopt-button">

            Request Adoption 🏡

        </a>
    }
    else
    {
        <a href="/login"
           class="adopt-button">

            Login to Adopt 🐾

        </a>
    }
}
