@page "/dogs"

@inject PetService PetService

<PageTitle>Dogs | Adoption Center</PageTitle>

<div class="page-container">

    <section class="page-header">
        <h1>Dogs Looking for a Home 🐶</h1>
        <p>
            Meet our friendly dogs waiting for a loving family.
        </p>
    </section>


    <div class="pet-grid">

        @foreach (var dog in dogs)
        {
            <PetCard Pet="dog" />
        }

    </div>

</div>


@code {
    private List<Pet> dogs = new();


    protected override void OnInitialized()
    {
        dogs = PetService.GetDogs();
    }
}